/* ---------------------------Default-------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.container {
  width: 1140px;
  margin: 150px auto;
}
span{
  color: #fd6e0a;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #474747;
}
button {
  color: white;
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  padding: 19px 36px;
}
/* ----------------------------------------------------------------- */
header{
  background-color: #FFF8F3;
  background-image: url(./images/header_bg.png),url(./images/developer.png);
  background-repeat: no-repeat;
  background-position: bottom right, center left;
}
nav{
  width: 1140px;
  margin: auto;
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul{
  display: flex;
  gap: 50px;
  align-items: center;
}

nav h1{
  font-size: 45px;
  font-weight: 800;
}

/* ==========================================
                    banner
============================================= */
.banner{
  width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-title h3{
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 5px;
}

.banner-title h2{
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 20px;
}

.banner-title p{
  color: #757575;
  width: 585px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.banner-title a{
  color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  padding: 19px 36px;
  margin-left: 30px;
}

/* ==========================================
                    About Me
============================================= */
