/* ---------------------------Default-------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
.container{
  width: 1140px;
  margin: auto;
}
span {
  color: #fd6e0a;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #474747;
}
button {
  color: white;
  background-color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  border-radius: 5px;
  padding: 19px 36px;
}
/* ----------------------------------------------------------------- */

/* header section */
/* nav */
header {
  background-color: #fff8f3;
  background-image: url(./images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1140px;
  margin: auto;
  padding: 20px 0px 0px 0px;
}
.logo {
  font-size: 45px;
  font-weight: 800;
}
.links {
  display: flex;
  gap: 51px;
  align-items: center;
}
.links li a {
  font-size: 20px;
  font-weight: 400;
}

/* header title section */
.title-sec {
  display: flex;
  width: 1670px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  /* background-image: url(./images/developer.png);
  background-repeat: no-repeat;
  background-position: center left; */
}
.head-title{
  margin-left: 225px;
}
.head-title h2 {
  color: #474747;
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 5px;
}
.head-title h1 {
  font-size: 100px;
  font-weight: 700;
  margin-bottom: 20px;
}
.head-title p {
  color: #757575;
  width: 585px;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
.contact {
  color: #fd6e0a;
  font-size: 20px;
  font-weight: 700;
  padding: 19px 36px;
  border: 1px solid #fd6e0a;
  border-radius: 5px;
  margin-left: 30px;
}
/* heade img  */
.rifto-img {
  width: 800px;
}
